In [2]:
###Import and Read CSV
import os
import pandas as pd

game_df = pd.read_csv('purchase_data.csv')
game_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
###Player Count

#The total number of players
total_players = len(game_df['SN'].unique())
print("Total players:", total_players)

Total players: 576

In [31]:
###Purchasing Analysis(Total)

#total of all item names
item_names_count = len(game_df['Item Name'].unique())

#finding average purchase price
ave_price = game_df['Price'].mean()

#total number of purchases
total_purchases = len(game_df['Price'])

#total purchases
total_revenue = game_df['Price'].sum()

# All of the data found in summary
summary_df = pd.DataFrame({"Total Unique Items": item_names_count,
                              "Average Price of Purchase": ave_price,
                              "Total Number of Purchases": total_purchases,
                              "Total Revenue": total_revenue}, index=[0])
summary_df

,Total Unique Items,Average Price of Purchase,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [56]:
###Gender Demographic

gender_game_df = game_df
finding_gender = game_df.loc[:,["SN","Gender"]]

#Find gender of players
player_count = gender_game_df.drop_duplicates(["SN"])
true_gender = player_count["Gender"].value_counts()
true_gender_percentage = player_count["Gender"].value_counts(normalize=True)


# Create new DataFrame
gender_pd = pd.DataFrame({"Total Count" : true_gender,
                          "Percentage of Players": true_gender_percentage})
# Minor Data Munging
gender_pd["Percentage of Players"] = gender_pd["Percentage of Players"].map("{:,.2f}".format)

gender_pd

                       Total Count Percentage of Players
Male                           484                  0.84
Female                          81                  0.14
Other / Non-Disclosed           11                  0.02

In [54]:
###Gender Demographic (Analysis)
###############NOT DONE#################

gender_data = game_df.loc[:,["Gender","Price"]]

# Perform basic calculations
total_gender_purchase = gender_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
average_gender_purchase = gender_data.groupby(["Gender"]).mean()["Price"]
gender_count = gender_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
gender_demo_pd = pd.DataFrame({"Purchase Count" : gender_count, 
                               "Average Purchase Price": average_gender_purchase,
                               "Total Purchase Value": total_gender_purchase})

# Minor Data Munging
gender_demo_pd["Average Purchase Price"] = gender_demo_pd["Average Purchase Price"].map("${:,.2f}".format)
gender_demo_pd["Total Purchase Value"] = gender_demo_pd["Total Purchase Value"].map("${:,.2f}".format)
gender_demographic_table = gender_demo_pd

#Open the table
gender_demographic_table

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

In [23]:
###Age Demographics

#Bin the data and add to Dataframe
bins = [4, 9, 14, 19, 24, 29, 34, 39, 44, 49]

df_labels = ['<10', '10-14','15-19','20-24','25-29','30-34','35-39','40-44','45+']

new_game = pd.cut(game_df['Age'], bins, labels=df_labels)

game_df['Age Range'] = pd.cut(game_df['Age'], bins, labels=df_labels)

In [19]:
########NOT DONE

###Age Demographics (Analysis)

age_data = game_df.loc[:,["Age Range","Price"]]

# Perform basic calculations
total_age_purchase = age_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Value")
average_age_purchase = age_data.groupby(["Age Range"]).mean()["Price"]
age_count = age_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
age_demo_pd = pd.DataFrame({"Purchase Count" : age_count,
                            "Average Purchase Price": average_age_purchase,
                            "Total Purchase Value": total_age_purchase,})

# Minor Data Munging
age_demo_pd["Average Purchase Price"] = age_demo_pd["Average Purchase Price"].map("${:,.2f}".format)
age_demo_pd["Total Purchase Value"] = age_demo_pd["Total Purchase Value"].map("${:,.2f}".format)
age_demographic_table = age_demo_pd

#Open the table
age_demographic_table

           Purchase Count Average Purchase Price Total Purchase Value
Age Range
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05            $1,114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40-44                  12                  $3.04               $36.54
45+                     1                  $1.70                $1.70

In [10]:
### Top Spenders

spender_data = game_df.loc[:,["SN","Item Name", "Price"]]

# Perform basic calculations
total_spender_purchase = spender_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
average_spender_purchase = spender_data.groupby(["SN"]).mean()["Price"]
spender_count = spender_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
spender_data_pd = pd.DataFrame({"Total Purchase Value": total_spender_purchase, 
                             "Item Price": average_spender_purchase, 
                             "Purchase Count": spender_count})

# Sort the Data
spender_data_count_sorted = spender_data_pd.sort_values(by = ["Total Purchase Value"], ascending =[False])

# Minor Data Munging
spender_data_count_sorted["Item Price"] = spender_data_count_sorted["Item Price"].map("${:,.2f}".format)
spender_data_count_sorted["Total Purchase Value"] = spender_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
top_spender_table = spender_data_count_sorted.head(5)

#Open the table
top_spender_table

            Total Purchase Value Item Price  Purchase Count
SN
Lisosia93                 $18.96      $3.79               5
Idastidru52               $15.45      $3.86               4
Chamjask73                $13.83      $4.61               3
Iral74                    $13.62      $3.40               4
Iskadarya95               $13.10      $4.37               3

In [11]:
###Most Popular Items

item_data = game_df.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, 
                             "Item Price": average_item_purchase, 
                             "Purchase Count": item_count})

# Sort the Data
item_data_count_sorted = item_data_pd.sort_values(by = ['Purchase Count'], ascending =[False])

# Minor Data Munging
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
popular_items_table = item_data_count_sorted.head(5)

#Open the table
popular_items_table

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,$59.99,$4.61,13
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
145,Fiery Glass Crusader,$41.22,$4.58,9
132,Persuasion,$28.99,$3.22,9
108,"Extraction, Quickblade Of Trembling Hands",$31.77,$3.53,9

In [12]:
###Most Profitable Items

#Continuing where I left off from "Most Popular Items"
item_profitable_sorted = item_data_pd.sort_values(by = ['Total Purchase Value'], ascending =[False])

#Minor Data Munging
item_profitable_sorted["Item Price"] = item_profitable_sorted["Item Price"].map("${:,.2f}".format)
item_profitable_sorted["Total Purchase Value"] = item_profitable_sorted["Total Purchase Value"].map("${:,.2f}".format)
profitable_items_table = item_profitable_sorted.head(5)

#Open the table
profitable_items_table

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,$59.99,$4.61,13
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
82,Nirvana,$44.10,$4.90,9
145,Fiery Glass Crusader,$41.22,$4.58,9
103,Singed Scalpel,$34.80,$4.35,8