In [1]:
import os
import pandas as pd

In [2]:
game_df = pd.read_csv('purchase_data.csv')
game_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
#The total number of players
total_players = len(game_df['SN'].unique())
total_players

576

In [4]:
#total of all item names
item_names_count = len(game_df['Item Name'].unique())

#finding average purchase price
ave_price = game_df['Price'].mean()

#total number of purchases
total_purchases = len(game_df['Price'])

#total purchases
total_revenue = sum(game_df['Price'])

In [5]:
# All of the data found in summary
summary_df = pd.DataFrame({"Total Unique Items": item_names_count,
                              "Average Price of Purchase": ave_price,
                              "Total Number of Purchases": total_purchases,
                              "Total Revenue": total_revenue}, index=[0])
summary_df

,Total Unique Items,Average Price of Purchase,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [6]:
#Count of male and female players
game_df['Gender'].value_counts(ascending=False)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [7]:
gender_df = pd.DataFrame({"Male": [652/780, 652], "Female": [113/780, 113], "Other / Non-Disclosed": [15/780, 15]}, index=["Percentage of Players","Total Count"])
gender_df.style.set_precision(3)

In [31]:
gender_grouped = game_df.groupby(['Gender'])

price_gender = gender_grouped['Price'].mean()

total_purchase_gender = sum(

9.566861610293715