In [1]:
###Import and Read CSV
import os
import pandas as pd

game_df = pd.read_csv('purchase_data.csv')
game_df.head(10)
game_df = game_df.drop_duplicates()

In [2]:
###Player Count

#The total number of players
total_players = len(game_df['SN'].unique())
print("Total players:", total_players)

Total players: 576

In [3]:
###Purchasing Analysis(Total)

#total of all item names
item_names_count = len(game_df['Item Name'].unique())

#finding average purchase price
ave_price = game_df['Price'].mean()

#total number of purchases
total_purchases = len(game_df['Price'])

#total purchases
total_revenue = game_df['Price'].sum()

# All of the data found in summary
summary_df = pd.DataFrame({"Total Unique Items": item_names_count,
                              "Average Price of Purchase": ave_price,
                              "Total Number of Purchases": total_purchases,
                              "Total Revenue": total_revenue}, index=[0])
# Minor Date Munging
summary_df["Average Price of Purchase"] = summary_df["Average Price of Purchase"].map("${0:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${0:,.2f}".format)

summary_df

,Total Unique Items,Average Price of Purchase,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [4]:
###Gender Demographic

#Add percentage %

gender_game_df = game_df

#Find gender of players
player_count = gender_game_df.drop_duplicates(["SN"])
true_gender = player_count["Gender"].value_counts()
true_gender_percentage = player_count["Gender"].value_counts(normalize=True)*100

# Create new DataFrame
gender_pd = pd.DataFrame({"Total Count" : true_gender,
                          "Percentage of Players": true_gender_percentage})
# Minor Data Munging
gender_pd["Percentage of Players"] = gender_pd["Percentage of Players"].map("{0:.2f}%".format)

gender_pd

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [5]:
###Gender Demographic (Analysis)

gender_data = game_df.loc[:,["Gender","Price"]]

# Perform basic calculations
total_gender_purchase = gender_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
average_gender_purchase = gender_data.groupby(["Gender"]).mean()["Price"]
gender_count = gender_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
avg_gender_price = total_gender_purchase / gender_pd["Total Count"]

# Create new DataFrame
gender_demo_pd = pd.DataFrame({"Purchase Count" : gender_count, 
                               "Average Purchase Price": average_gender_purchase,
                               "Total Purchase Value": total_gender_purchase,
                              "Total Purchase Value per Person": avg_gender_price})

# Minor Data Munging
gender_demo_pd["Average Purchase Price"] = gender_demo_pd["Average Purchase Price"].map("${:,.2f}".format)
gender_demo_pd["Total Purchase Value"] = gender_demo_pd["Total Purchase Value"].map("${:,.2f}".format)
gender_demo_pd["Total Purchase Value per Person"] = gender_demo_pd["Total Purchase Value per Person"].map("${:,.2f}".format)
gender_demographic_table = gender_demo_pd

#Open the table
gender_demographic_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Value per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
###Age Demographics

###Keep ordered by age 
age_df = game_df

#Bin the data and add to Dataframe
bins = [4, 9, 14, 19, 24, 29, 34, 39, 44, 49]

df_labels = ['<10', '10-14','15-19','20-24','25-29','30-34','35-39','40-44','45+']

new_game = pd.cut(age_df['Age'], bins, labels=df_labels)

age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=df_labels)

#Find ages of players
player_age_count = age_df.drop_duplicates(["SN"])
true_age = player_age_count["Age Range"].value_counts()
true_age_percentage = player_age_count["Age Range"].value_counts(normalize=True)*100

# Create new DataFrame
age_pd = pd.DataFrame({"Total Count" : true_age,
                       "Percentage of Players": true_age_percentage})

# Minor Data Munging
age_pd["Percentage of Players"] = age_pd["Percentage of Players"].map("{0:.2f}%".format)
age_pd = age_pd.sort_index()
age_pd

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40-44           11                 1.91%
45+              1                 0.17%

In [7]:
########NOT DONE##############

###Age Demographics (Analysis)

age_data = age_df.loc[:,["Age Range","Price"]]

# Perform basic calculations
total_age_purchase = age_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Value")
average_age_purchase = age_data.groupby(["Age Range"]).mean()["Price"]
age_count = age_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
avg_age_price = total_age_purchase / age_pd["Total Count"]

# Create new DataFrame
age_demo_pd = pd.DataFrame({"Purchase Count" : age_count,
                            "Average Purchase Price": average_age_purchase,
                            "Total Purchase Value": total_age_purchase,
                           "Total Purchase Value per Person": avg_age_price})

# Minor Data Munging
age_demo_pd["Average Purchase Price"] = age_demo_pd["Average Purchase Price"].map("${:,.2f}".format)
age_demo_pd["Total Purchase Value"] = age_demo_pd["Total Purchase Value"].map("${:,.2f}".format)
age_demo_pd["Total Purchase Value per Person"] = age_demo_pd["Total Purchase Value per Person"].map("${:,.2f}".format)

age_demographic_table = age_demo_pd

#Open the table
age_demographic_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Value per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40-44,12,$3.04,$36.54,$3.32
45+,1,$1.70,$1.70,$1.70

In [8]:
### Top Spenders

spender_data = game_df.loc[:,["SN","Item Name", "Price"]]

# Perform basic calculations
total_spender_purchase = spender_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
average_spender_purchase = spender_data.groupby(["SN"]).mean()["Price"]
spender_count = spender_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
spender_data_pd = pd.DataFrame({"Total Purchase Value": total_spender_purchase, 
                             "Item Price": average_spender_purchase, 
                             "Purchase Count": spender_count})

# Sort the Data
spender_data_count_sorted = spender_data_pd.sort_values(by = ["Total Purchase Value"], ascending =[False])

# Minor Data Munging
spender_data_count_sorted["Item Price"] = spender_data_count_sorted["Item Price"].map("${:,.2f}".format)
spender_data_count_sorted["Total Purchase Value"] = spender_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
top_spender_table = spender_data_count_sorted.head(5)

#Open the table
top_spender_table

            Total Purchase Value Item Price  Purchase Count
SN
Lisosia93                 $18.96      $3.79               5
Idastidru52               $15.45      $3.86               4
Chamjask73                $13.83      $4.61               3
Iral74                    $13.62      $3.40               4
Iskadarya95               $13.10      $4.37               3

In [9]:
###Most Popular Items

item_data = game_df.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, 
                             "Item Price": average_item_purchase, 
                             "Purchase Count": item_count})

# Sort the Data
item_data_count_sorted = item_data_pd.sort_values(by = ['Purchase Count'], ascending =[False])

# Minor Data Munging
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
popular_items_table = item_data_count_sorted.head(5)

#Open the table
popular_items_table

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,$59.99,$4.61,13
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
145,Fiery Glass Crusader,$41.22,$4.58,9
132,Persuasion,$28.99,$3.22,9
108,"Extraction, Quickblade Of Trembling Hands",$31.77,$3.53,9

In [10]:
###Most Profitable Items

#Continuing where I left off from "Most Popular Items"
item_profitable_sorted = item_data_pd.sort_values(by = ['Total Purchase Value'], ascending =[False])

#Minor Data Munging
item_profitable_sorted["Item Price"] = item_profitable_sorted["Item Price"].map("${:,.2f}".format)
item_profitable_sorted["Total Purchase Value"] = item_profitable_sorted["Total Purchase Value"].map("${:,.2f}".format)
profitable_items_table = item_profitable_sorted.head(5)

#Open the table
profitable_items_table

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,$59.99,$4.61,13
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
82,Nirvana,$44.10,$4.90,9
145,Fiery Glass Crusader,$41.22,$4.58,9
103,Singed Scalpel,$34.80,$4.35,8

## Three obserable trends based on the above data:

### 1. The highest amount of players are within the age bracket of 20-24 year olds. The amount of players per bracket then declines as one moves further away from the 20-24 year olds.

### 2. Although males make up a whopping 84% of the total players, they spend the least amount per person(40 cents less than the closest gender value).

### 3. Suprisingly, the people who spend the most amount of money per person in the game are those under 10 and 35-39, not those between the age of the majority of players(20-24).